apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ deployment_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dummysite
  template:
    metadata:
      labels:
        app: dummysite
    spec:
      containers:
      - image: {{ image }}
        name: dummysite
        ports:
        - containerPort: 8080
        env:
        - name: WEBSITE_URL
          value: {{ website_url }}